[Unit]
Description=RadioBot Server
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/RadioBot
ExecStart=/home/ubuntu/RadioBot/venv/bin/gunicorn --worker-class eventlet -w 1 --bind 0.0.0.0:4000 server:app
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
