[Unit]
Description=RadioBot Server
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu/RadioBot
ExecStart=/home/ubuntu/RadioBot/radiobot -addr :4000
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
